body{    
    margin: 0;
    background-image: url(2824283.jpg);

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

#cuerpoone{
    /*background-color: #ccc;*/
    margin: 40px;
    
}
/* slider
#slider{
    width: 1300px;
    max-width: 100vw;
    height: 700px;
    margin: auto;
    position: relative;
    
}
#imagen{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    display: flex;
    width: max-content;
}
#imagen img{
    width: 1300px;
    max-width: 100vw;
    height: 100%;
    object-fit: cover;
}
#boton{
    position: absolute;
    top: 45%;
    left: 5%;
    width: 90%;
    display: flex;
    justify-content: space-between;
}
#boton button{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #fff5;
    color: #fff;
    border: none;
    font-family: monospace;
    font-weight: bold;
}
.dots{
    position: absolute;
    bottom: 10px;
    color: #fff;
    left: 0;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;    
}
#dots li{
    list-style: none;
    width: 10px;
    height: 10px;
    background-color: #fff;
    margin: 20px;
    border-radius: 20px;
}
.dots li.active{
    width: 30px;
    
}*/
/* LAS IMAGENES DE LA PARTE DERECHA*/
#nabigator{    
    display: flex;
    flex-flow: row nowrap;
    justify-content: end;
    padding-bottom: 20px;    
}
#nabigator>div{
    height: 40px;
    width: 40px;
    margin-left: 20px;
    border-radius: 50%;    
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #464442;
}
#nabigator>div>img{
    height: 2rem;
    width: 2rem;
}

/* EL LOGOS DE LA PARTE SUPERIOR*/
#logocentro{
    position:absolute;
    background-color: black;
    height: 150px;
    width: 150px;
    border-radius: 50%;  
    margin-left: 650px;  
    display: flex;
    justify-content: center;  
    align-items: center;       
}
#logocentro>img{
    width: 9rem;
    height: 9rem;
    border-radius: 50%;
}
/*COMO SU NOMBRE INDICA ES LA CABEZERA*/
header{
    /*background-color: aqua;*/
   
    height: 40px;
    
    padding: 30px;
    background: #333334;    
    font-size: 1rem;
    font-weight: bold;    
    border-radius: 20px 20px 0 0;
}

ul{
    margin-top: 25px;
    display: flex; 
    justify-content: space-around;    
    /*background: #CCC;*/
}

ul a{
    /*color: #555;*/
    color: #888888;
    text-decoration: none;
    padding: 15px;
    width: 100%;
    text-align: center;
    font-size: 20px;
    font-family:Brush Script MT/*, Edwardian Script ITC*/;
}
li{
    list-style: none;
}




h2{
    font-family:Brush Script MT
}
nav a:hover{
    /*background: #555;*/
    /*color: #CCCCCC;*/
    color: white;        
}
/*la imagenes de un carrucel estatico*/
#move{
    background-color: #555;
    height: 500px;
    width: 100%;
    display: flex;
    
}
#move>div{
    position: absolute;
}
/*.imgc{
    width: 450px;
    height: 450px;
}
.imgf{
    width: 100px;
    height: 100px;
}
.imglados{
    display: flex;
    width: 100%;
    position: relative;
    justify-content: space-around;
    
    background-color: aqua;
}*/
.flecha{
    height: 100px;
    width: 100px;
}
.flechasuno{
    left: 50px;
    top: 400px;
}
.flechasdos{
    left: 1300px;
    top: 400px;
}
.lado{
    height: 400px;
    width: 400px;    
}
.ladosuno{
    left: 950px;
    top: 250px;
}
.ladosdos{
    left: 100px;
    top: 250px;
}
.centro{
    height: 500px;
    width: 500px;
    
}
.centros{
    left: 480px;
    top: 220px;
}

#zone{
    background-color: white;
    height: 100%;
    padding-left: 40px;  
    padding-right: 40px;
}
#zoneone{  
    padding-top: 50px;
    text-align: center;
    
    padding-bottom: 50px;
}
#zoneone>h2{
    font-size: 50px;
}
#zonetwo{
    margin: 0;
    display: flex;
    flex-flow: row nowrap;
    flex: 1 1 25%;
    justify-content: center;
}
#zonetwo>div{
        display: flex;
        flex-flow: column;
        align-items: center;  
                     
        margin-right: 10px;
        margin-left: 10px;
        width: 300px;
}
#zonetwo>div>span{
    position: absolute;        
    display: inline-block;
    background-color: #555;
    margin-top: 280px;
    padding: 10px 30px 10px 30px;
    border-radius: 10px;
    color: #ddd;
}
#zonetwo p{
    text-align: center;
    margin: 0;
}
#zonetwo img{
    height: 300px;
    width: 300px;
}
#zonetwo h2{
    font-size: 20px;
    padding-top: 20px;
}

#zonethree{
    display: flex;
    flex-flow: row nowrap;
    flex: 1 1 50%;
    padding-top: 40px;
    padding-bottom: 40px;
       
}
#zonethree>div{
    display: flex;
    align-items: center;
    flex:  1 1 50%;
    background-color: #ccc; 
    margin-left: 10px;
    padding: 10px;
    
}
#zonethree div{
    padding-left: 20px;
    border-radius: 30px 0;
}
#zonethree img{
    width: 4rem;
    height: 4rem;
    
}

/* la parte donde esta esa cosa de colunas*/
#coment{
    background-color: #333334;
    display: flex;
    flex-flow:nowrap;
    justify-content: center;
    flex: 1 1 25%;
}
#coment>div{
    width: 350px;
    justify-content: center;
    margin-left: 20px;
    margin-right: 20px;    
}
.a{    
    color: white;
    width: 200px;
}
/*los pies*/
footer{
    background-color: aliceblue;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content:space-between;
    padding: 10px 20px 20px 20px;
    border-radius:  0 0 20px 20px;
}
footer div{
    margin-left: 5px;
    border-radius: 2px;
    background-color: #ccc;  
    display: flex;
    justify-content: center;
    align-items: center;
}
footer img{
    height: 2rem;
    width: 2rem;
}
/*footer p{
    padding-left: 1030px;
}*/
/*#check{
    font-size: 30px;
    color:aliceblue;
    float: right;
    line-height: 40px;
    margin-right: 40px;
    cursor: pointer;
    display: none;   
}*/
.abrir-menu,.cerrar-menu{
    display: none; 
    font-size: 30px;
    
    float: right;
    line-height: 30px;
    margin-right: 10px;
    cursor: pointer;
    display: none;   
}
main {
	max-width: 800px;
	width: 90%;
	margin: auto;
	padding: 40px;
}

.formulario {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 20px;
}

.formulario__label {
	display: block;
	font-weight: 700;
	padding: 10px;
	cursor: pointer;
}
.formulario__grupo{
    margin-left: 40px;
    margin-right: 40px;
}

.formulario__grupo-input {
	position: relative;
}

.formulario__input {
	width: 100%;
	background: #fff;
	border: 3px solid transparent;
	border-radius: 3px;
	height: 45px;
	line-height: 45px;
	padding: 0 40px 0 10px;
	transition: .3s ease all;
}

.formulario__input:focus {
	border: 3px solid #0075FF;
	outline: none;
	box-shadow: 3px 0px 30px rgba(163,163,163, 0.4);
}

.formulario__input-error {
	font-size: 12px;
	margin-bottom: 0;
	display: none;
}

.formulario__input-error-activo {
	display: block;
}

.formulario__validacion-estado {
	position: absolute;
	right: 10px;
	bottom: 15px;
	z-index: 100;
	font-size: 16px;
	opacity: 0;
}

.formulario__checkbox {
	margin-right: 10px;
}

.formulario__grupo-terminos, 
.formulario__mensaje,
.formulario__grupo-btn-enviar {
	grid-column: span 2;
}

.formulario__mensaje {
	height: 45px;
	line-height: 45px;
	background: #F66060;
	padding: 0 15px;
	border-radius: 3px;
	display: none;
}

.formulario__mensaje-activo {
	display: block;
}

.formulario__mensaje p {
	margin: 0;
}

.formulario__grupo-btn-enviar {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.formulario__btn {
	height: 45px;
	line-height: 45px;
	width: 30%;
	background: #000;
	color: #fff;
	font-weight: bold;
	border: none;
	border-radius: 3px;
	cursor: pointer;
	transition: .1s ease all;
}

.formulario__btn:hover {
	box-shadow: 3px 0px 30px rgba(163,163,163, 1);
}

.formulario__mensaje-exito {
	font-size: 14px;
	color: #119200;
	display: none;
}

.formulario__mensaje-exito-activo {
	display: block;
}

/* ----- -----  Estilos para Validacion ----- ----- */
.formulario__grupo-correcto .formulario__validacion-estado {
	color: #1ed12d;
	opacity: 1;
}

.formulario__grupo-incorrecto .formulario__label {
	color: #bb2929;
}

.formulario__grupo-incorrecto .formulario__validacion-estado {
	color: #bb2929;
	opacity: 1;
}

.formulario__grupo-incorrecto .formulario__input {
	border: 3px solid #bb2929;
}
#divv{
    background-color: #464442;
}

/* ----- -----  Mediaqueries ----- ----- */
@media screen and (max-width: 800px) {
	.formulario {
		grid-template-columns: 1fr;
	}

	.formulario__grupo-terminos, 
	.formulario__mensaje,
	.formulario__grupo-btn-enviar {
		grid-column: 1;
	}

	.formulario__btn {
		width: 100%;
	}
}




@media (max-width:1025px){
    #zonetwo{       
        flex-flow: row wrap; 
        flex:  1 1 50%;
    }    
    #coment{
        flex-flow: row wrap;                
    }
    /*centreando*/
    .flechasuno{
        left: 50px;
    }
    .flechasdos{
        left: 870px;
    }
    .ladosuno{
        left: 100px;        
    }
    .ladosdos{
        left: 520px;   
    } 
    .centros{
        left: 260px;
    }
    #logocentro{
        margin-left: 440px;
    }
}
@media (max-width:768px){
    .abrir-menu,.cerrar-menu{
        display: block;
        cursor: pointer;
    }
    
    .nav{
        display: none;
    }
    
    .nav{
        opacity: 0;
        visibility: hidden;
        position: absolute;
        display: flex;
        flex-direction: column;
        background-color: rgba(0, 0, 0, 0.87);
        padding: 2rem;
        z-index: 9999;
        left: 41px;
        height: 900px;

        position: fixed;
        width: 81%;
        transition: all .5s;
        box-shadow: 0 0 0 100vmax rgba(0, 0, 0, .5);
        top: 0;
        gap: 2rem;
        
    }
    .cerrar-menu{
        text-align: right;
        color: #ddd;
        background-color: rgba(0, 0, 0, 0);
        border: 0;
    }
    .nav.visible{
        opacity: 1;
        visibility: visible;
    }
    .nav-list{
        flex-direction: column;
        align-items: end;
        padding-right: 20px;
       
    }
    .nav-list li a{
        color: white;
        font-size: 30px; 
        
    }
    

    #zonetwo{        
        flex-flow: row wrap;
        flex:  1 1 100%;
    }
    #zonethree{
        flex-flow: row wrap;
        flex: 1 1 100%;
    }
    #zonethree>div{
        margin-top: 20px;
    }
    #coment{
        flex-flow: row wrap;
        padding-left: 50px;
        flex: 1 1 100%;
    }
    /* otra vez noviendo manualmente*/    
    .imgc{
        height: 400px;
        width: 288px;
    }
    .flechasuno{
        left: 0;
    }
    .flechasdos{
        left: 70%;
    }
    .ladosuno{
        left: 10%;        
    }
    .ladosdos{
        left: 10%;  
    } 
    .centros{
        top: 300px;
        left: 10%;
    }
    .formulario__grupo{
        margin-left: 0;
        margin-right: 0;
    }
    .formulario__input{
        width: 68%;
    }
    
    #logocentro{
        margin-left: 35%;
        display: none;
    }
    #zonetwo img{
        height: 300px;
        width: 300px;
    }  
    /*#check{
        display:block;
    }*/
    
    header{
        height: 50px;        
    }
   
    /*ul{
        z-index: 9999;
        position: fixed;
        width: 84.3%;
        height: max-content;
        background: #333334;
        top: 80px;
        left: -120%;
        text-align: center;
        transition: all .5s;
        display: flex;
        flex-flow: column;
    }*/
    
    
    /*.nav.visible ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    .nav.visible ul li a{
        font-size: 25px;    
    }
    li a:hover, li a.active{
       
       background: none;
       color: rgb(77, 173, 202);
    }*/
    /*}
    #check:checked ~ ul{
        left:5.4%;
    }*/

}